
/*                           product section  */
#product-overview {
    background: url("../image/old-buildings-gardens-nesebar-bulgaria.jpg") left 10% bottom 30%/cover no-repeat border-box;
    width: 100%;
    height: 628px;
    padding: 10px;  
    position: relative;

        border-bottom-right-radius: 500% 160px;
      }

p.product-description{
    color:#F9F5F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    left: 20px;
   
}
.product-description.one{
    bottom:24%
}
.product-description.two{
    bottom:14%  
}
.product-description.three{
    bottom:3.5%;
}

.product-description.three span{
    color: crimson;

}



/*                          key feature section */
#key-features {
    background: white;
    padding: 16px;
}

#key-features .section-title {
    text-align: center;
    color:rgba(0, 0, 0, 0.9);
    margin: 32px;
    font-weight: 500;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    position: relative;
}

.key-feature__image {
    background:lightgray;
    width: 228px;
    height: 228px;
    border-radius: 25px;
    margin: auto;
}

.key-feature__description {
    background-color: white;
    padding: 0px 20px;
    position: absolute;
    left: 34.5%;
    top: 92%;
    text-align: center;
    font-weight: 200;
    color: crimson;
    font-size: 20px;
    border:1px;
    border-radius: 4px;
}

  
/*                  product detail */

#product-detail{

    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 120px;
}
.product-detail__explaination{
    width: 50%;
    padding-left:30px;
    padding-top:30px
    
}
.product-detail__explaination h2{
    
    padding:10px; 
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.product-detail__explaination h3{
    padding: 0 20px;
    font-size: 30px;
    font-weight: 500;
}

.product-detail__explaination p{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    padding: 4px 20px;
}

.product-detail__img {
   width:550px;
   height: 550px;
  
}

.product-detail__img img{
    width:100%;
    height:100%;

}

/* price_prediction */
#price-priediction{
    margin-top: 120px;
    padding-top: 30px;
    position: relative;
}
.price-priediction__background{
    background: url('../image/3d-background-with-white-cubes.jpg') left 10% bottom 30%/cover no-repeat border-box;
    width: 100%;
    height: 450px;
    opacity: 0.3;
    filter: brightness(45%);

}
.price-priediction__title{
    font-size: 30px;
    text-align: center;
   
}
.price-priediction__content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position:absolute;
   top: 48%;
   left:26%

}
.price-priediction__content button{
    padding:16px;
    text-align: center;
    font-size: 22px;
    background-color:#00DFA2;
    width: 260px;
    height: 60px;
    border-radius: 25px;
    border:none;
}
