html {
    background-color: rgb(212, 212, 212, 0.5);
    font-family: 'Montserrat', 'sans serif';
}

main {
    margin: 180px 80px;
    background-color: white;
    border-radius: 45px;
    transform: scale(deg(1));

}

input {
    color: red;
}

.make-prediction__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    color: rgba(0, 0, 0, 0.9);

}

.form-items {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: end;

}

.form-item {
    margin-bottom: 20px;
}

.form-item label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 8px;
}

/* Style the custom select container */



/* Style the select dropdown */
.form-item select,
.form-item input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.2s ease-in-out;
    height: auto;

}

.form-item select option:checked {
    background-color: #0ae3b0;
    color: #fff;
}

/* Style the hover effect for options */
.form-item select option:hover {
    background-color: #0056b3;
}

/* Style the select when it is in focus */
.form-item select:focus {
    outline: none;
    border-color: #00DFA2;
    box-shadow: 0 0 5px rgba(0, 223, 162, 0.5);
}

.form-item select::-webkit-scrollbar {
    width: 8px;
}

.form-item select::-webkit-scrollbar-thumb {
    background-color: #2a2e32de;
    border-radius: 4px;
}

.form-item select::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}


.custom-select {
    position: relative;
    display: inline-block;
    width: 50%;
}

.select-selected {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

/* Style the dropdown options */
.select-items {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.select-items div {
    padding: 3px;
    cursor: pointer;
}

/* Show options when select is clicked */
.custom-select.open .select-items {
    display: block;
}


.btn {
    margin: 10px 300px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background-color: #00DFA2;
    width: 260px;
    height: 60px;
    border-radius: 25px;
    border: none;
}

.btn:hover,
.btn:active {
    background-color: aliceblue;
}